<section id="dogovor24" class="popup">
  <a href="#main" class="popup__dark-area_close" aria-label="close popup"></a>
  <div class="popup__body">
    <div class="popup__content">
      <div class="slaider">
        <div class="slaider__img-container">
          <div class="img_holder">
            <img
              data-src="img/dogovor24/dogovor24-1.png"
              src="img/service/plug.jpg"
              class="slaider__img"
              alt="dogovor24"
            />
          </div>
          <div class="img_holder">
            <img
              data-src="img/dogovor24/dogovor24-2.png"
              src="img/service/plug.jpg"
              class="slaider__img"
              alt="dogovor24"
            />
          </div>
        </div>
      </div>
      <button class="slaider__btn_left">
        <i class="fas fa-angle-double-left"></i>
      </button>
      <button class="slaider__btn_right">
        <i class="fas fa-angle-double-right"></i>
      </button>
      <h2>Parser for dogovor24</h2>
      <div class="popup__text">
        I developed Dogovor24 Parser, an asynchronous tool for efficiently
        extracting and saving legal documents from the dogovor24.kz website.
        Leveraging Playwright, I optimized the parsing process to achieve 50%
        faster data retrieval compared to traditional scraping methods. The
        parser features detailed logging of progress and error handling
        mechanisms to ensure reliability. The tool was designed with
        scalability in mind, enabling support for concurrent parsing tasks,
        and includes a modular structure for future enhancements.
      </div>
      <a
        href="https://github.com/Doszhan-M/parser_dogovor24"
        class="popup__button"
        target="_blank"
        >view project</a
      >
      <a href="#main" class="popup__close"><i class="far fa-times-circle"></i></a>
    </div>
  </div>
</section>
