<section id="fresh_cargo" class="popup">
  <a href="#main" class="popup__dark-area_close" aria-label="close popup"></a>
  <div class="popup__body">
    <div class="popup__content">
      <div class="slaider">
        <div class="slaider__img-container">
          <div class="img_holder">
            <img
              data-src="img/fresh_cargo/fresh_cargo-1.png"
              src="img/service/plug.jpg"
              class="slaider__img"
              alt="fresh cargo"
            />
          </div>
          <div class="img_holder">
            <img
              data-src="img/fresh_cargo/fresh_cargo-2.png"
              src="img/service/plug.jpg"
              class="slaider__img"
              alt="fresh cargo"
            />
          </div>
        </div>
      </div>
      <button class="slaider__btn_left">
        <i class="fas fa-angle-double-left"></i>
      </button>
      <button class="slaider__btn_right">
        <i class="fas fa-angle-double-right"></i>
      </button>
      <h2>fresh cargo</h2>
      <div class="popup__text">
        Fresh Cargo is a web application I actively supported and developed,
        now successfully used by clients in Peru. The platform streamlines
        cargo management and logistics, ensuring a seamless experience for
        users. My responsibilities included fixing critical bugs,
        implementing new features based on project requirements, and
        optimizing both the server and client sides for improved performance.
        Collaborating with QA specialists, I ensured a stable release process
        and addressed user-reported issues promptly. The system is now a
        reliable tool for managing logistics and supports over 50 active users
        daily.
      </div>
      <a
        href="https://www.freshcargoperu.com.pe/en/"
        class="popup__button"
        target="_blank"
        >view project</a
      >
      <a href="#main" class="popup__close"><i class="far fa-times-circle"></i></a>
    </div>
  </div>
</section>
