<section id="goszakup_bot" class="popup">
  <a href="#main" class="popup__dark-area_close" aria-label="close popup"></a>
  <div class="popup__body">
    <div class="popup__content">
      <div class="slaider">
        <div class="slaider__img-container">
          <div class="img_holder">
            <img
              data-src="img/goszakup_bot/goszakup_bot_1.webp"
              src="img/service/plug.jpg"
              class="slaider__img"
              alt="goszakup bot"
            />
          </div>
        </div>
      </div>
      <button class="slaider__btn_left">
        <i class="fas fa-angle-double-left"></i>
      </button>
      <button class="slaider__btn_right">
        <i class="fas fa-angle-double-right"></i>
      </button>
      <h2>goszakup bot</h2>
      <div class="popup__text">
        GosZakup Bot is a freelance project developed for automating
        participation in government procurement tenders in Kazakhstan. The bot
        handles authentication, application submission, and document
        management, streamlining complex tender processes. Designed for
        efficiency, it reduces the time required for submitting applications
        by 80%, helping clients achieve top positions in tenders. Built with
        Python, Django, FastAPI, and gRPC, the bot ensures seamless
        integration with external systems.
      </div>
      <a
        href="https://github.com/Doszhan-M/goszakup"
        class="popup__button"
        target="_blank"
        >view code</a
      >
      <a href="#main" class="popup__close"><i class="far fa-times-circle"></i></a>
    </div>
  </div>
</section>
