<!-- Popup sections -->
<!--#include file="./pk.html" -->
<!--#include file="./weather-app.html" -->
<!--#include file="./videohub.html" -->
<!--#include file="./dogovor24.html" -->
<!--#include file="./temp-control.html" -->
<!--#include file="./fresh-cargo.html" -->
<!--#include file="./goszakup-bot.html" -->
<!--#include file="./slackbot.html" -->
<!--#include file="./websocket-chat.html" -->
<!--#include file="./fanblog.html" -->
<!--#include file="./trashcan.html" -->
<!--#include file="./reportbot.html" -->
<!--#include file="./seabattle.html" -->
<!--#include file="./project-parser.html" -->
