<section id="project_parser" class="popup">
  <a href="#main" class="popup__dark-area_close" aria-label="close popup"></a>
  <div class="popup__body">
    <div class="popup__content">
      <div class="slaider">
        <div class="slaider__img-container">
          <div class="img_holder">
            <img
              data-src="img/project_parser/project_parser-1.webp"
              src="img/service/plug.jpg"
              alt="project parser"
              class="slaider__img"
            />
          </div>
        </div>
      </div>
      <button class="slaider__btn_left">
        <i class="fas fa-angle-double-left"></i>
      </button>
      <button class="slaider__btn_right">
        <i class="fas fa-angle-double-right"></i>
      </button>
      <h2>Code Parser</h2>
      <div class="popup__text">
        This script analyzes the structure of a project directory, extracting
        a detailed folder and file hierarchy. It supports reading file
        contents based on configurable filters, making it an ideal tool for
        generating structured inputs for AI tools like ChatGPT. By
        streamlining the process of analyzing large project directories, this
        tool enhances workflow efficiency and ensures precise and relevant
        prompt generation for AI-assisted tasks.
      </div>
      <a
        href="https://github.com/Doszhan-M/gpts_code_parser"
        class="popup__button"
        target="_blank"
        >view code</a
      >
      <a href="#main" class="popup__close"><i class="far fa-times-circle"></i></a>
    </div>
  </div>
</section>
