<section id="reportbot" class="popup">
  <a href="#main" class="popup__dark-area_close" aria-label="close popup"></a>
  <div class="popup__body">
    <div class="popup__content">
      <div class="slaider">
        <div class="slaider__img-container">
          <div class="img_holder">
            <img
              data-src="img/reportbot/reportbot_1.jpg"
              src="img/service/plug.jpg"
              alt="report bot"
              class="slaider__img"
            />
          </div>
          <div class="img_holder">
            <img
              data-src="img/reportbot/reportbot_2.jpg"
              src="img/service/plug.jpg"
              alt="report bot"
              class="slaider__img"
            />
          </div>
        </div>
      </div>
      <button class="slaider__btn_left">
        <i class="fas fa-angle-double-left"></i>
      </button>
      <button class="slaider__btn_right">
        <i class="fas fa-angle-double-right"></i>
      </button>
      <h2>telegram report bot</h2>
      <div class="popup__text">
        ReportBot is a freelance project developed to simplify tracking loans
        and shared expenses between two users within Telegram. Built using
        Python and the pyTelegramBotAPI library, the bot features a
        user-friendly interface for recording, updating, and summarizing
        financial transactions. Delivered on time, the bot met all client
        requirements, with additional focus on error handling and data
        consistency. While the client expressed interest in further
        enhancements, the project successfully addressed their immediate needs
        for financial tracking.
      </div>
      <a
        href="https://github.com/Doszhan-M/report_bot"
        class="popup__button"
        target="_blank"
        >view code</a
      >
      <a href="#main" class="popup__close"><i class="far fa-times-circle"></i></a>
    </div>
  </div>
</section>
