<section id="seabattle" class="popup">
  <a href="#main" class="popup__dark-area_close" aria-label="close popup"></a>
  <div class="popup__body">
    <div class="popup__content">
      <div class="slaider">
        <div class="slaider__img-container">
          <div class="img_holder">
            <img
              data-src="img/seabattle/seabattle_1.png"
              src="img/service/plug.jpg"
              alt="sea battle"
              class="slaider__img"
            />
          </div>
          <div class="img_holder">
            <img
              data-src="img/seabattle/seabattle_4.png"
              src="img/service/plug.jpg"
              alt="sea battle"
              class="slaider__img"
            />
          </div>
          <div class="img_holder">
            <img
              data-src="img/seabattle/seabattle_5.png"
              src="img/service/plug.jpg"
              alt="sea battle"
              class="slaider__img"
            />
          </div>
          <div class="img_holder">
            <img
              data-src="img/seabattle/seabattle_2.png"
              src="img/service/plug.jpg"
              alt="sea battle"
              class="slaider__img"
            />
          </div>
          <div class="img_holder">
            <img
              data-src="img/seabattle/seabattle_3.png"
              src="img/service/plug.jpg"
              alt="sea battle"
              class="slaider__img"
            />
          </div>
        </div>
      </div>
      <button class="slaider__btn_left">
        <i class="fas fa-angle-double-left"></i>
      </button>
      <button class="slaider__btn_right">
        <i class="fas fa-angle-double-right"></i>
      </button>
      <h2>sea battle</h2>
      <div class="popup__text">
        Sea Battle is a console-based implementation of the classic board
        game, created to solidify my understanding of object-oriented
        programming (OOP) principles. The project features modular and
        reusable code, with classes representing ships, the game board, and
        gameplay mechanics. Players can manually place ships and engage in a
        turn-based battle against another human player. While the project is
        simple in scope, it provided valuable practice in designing clean,
        maintainable code and structuring complex logic using OOP concepts.
      </div>
      <a
        href="https://github.com/Doszhan-M/sea_battle"
        class="popup__button"
        target="_blank"
        >view code</a
      >
      <a href="#main" class="popup__close"><i class="far fa-times-circle"></i></a>
    </div>
  </div>
</section>
