<section id="slackbot" class="popup">
  <a href="#main" class="popup__dark-area_close" aria-label="close popup"></a>
  <div class="popup__body">
    <div class="popup__content">
      <div class="slaider">
        <div class="slaider__img-container">
          <div class="img_holder">
            <img
              data-src="img/slackbot/slacbot_1.png"
              src="img/service/plug.jpg"
              class="slaider__img"
              alt="slackbot"
            />
          </div>
          <div class="img_holder">
            <img
              data-src="img/slackbot/slacbot_2.png"
              src="img/service/plug.jpg"
              class="slaider__img"
              alt="slackbot"
            />
          </div>
          <div class="img_holder">
            <img
              data-src="img/slackbot/slacbot_3.png"
              src="img/service/plug.jpg"
              class="slaider__img"
              alt="slackbot"
            />
          </div>
          <div class="img_holder">
            <img
              data-src="img/slackbot/slacbot_4.png"
              src="img/service/plug.jpg"
              class="slaider__img"
              alt="slackbot"
            />
          </div>
          <div class="img_holder">
            <img
              data-src="img/slackbot/slacbot_5.png"
              src="img/service/plug.jpg"
              class="slaider__img"
              alt="slackbot"
            />
          </div>
        </div>
      </div>
      <button class="slaider__btn_left">
        <i class="fas fa-angle-double-left"></i>
      </button>
      <button class="slaider__btn_right">
        <i class="fas fa-angle-double-right"></i>
      </button>
      <h2>parser slackbot</h2>
      <div class="popup__text">
        SlackBot was designed and developed during a hackathon organized by
        SkillFactory. This project automates the monitoring of websites for
        new posts and sends notifications to specified Slack channels based on
        customizable settings. The bot supports multiple modes, including
        instant notifications and scheduled messaging, and features an
        intuitive interface for managing tasks and bots. Built with Python and
        Django, the project achieved recognition for its innovative approach
        to task automation during the hackathon. The experience allowed me to
        enhance my skills in rapid prototyping, teamwork, and meeting tight
        deadlines.
      </div>
      <div class="popup__buttons">
        <a
          href="https://github.com/Doszhan-M/slack_bot"
          class="popup__button"
          target="_blank"
          >view code</a
        >
        <a
          href="https://habr.com/ru/companies/skillfactory/articles/576184/"
          class="popup__button"
          target="_blank"
          >read article</a
        >
      </div>
      <a href="#main" class="popup__close"><i class="far fa-times-circle"></i></a>
    </div>
  </div>
</section>
