<section id="temp_control" class="popup">
  <a href="#main" class="popup__dark-area_close" aria-label="close popup"></a>
  <div class="popup__body">
    <div class="popup__content">
      <div class="slaider">
        <div class="slaider__img-container">
          <div class="img_holder">
            <img
              data-src="img/temp_control/temp_control-4.png"
              src="img/service/plug.jpg"
              class="slaider__img"
              alt="home temp control"
            />
          </div>
          <div class="img_holder">
            <img
              data-src="img/temp_control/temp_control-1.png"
              src="img/service/plug.jpg"
              class="slaider__img"
              alt="home temp control"
            />
          </div>
          <div class="img_holder">
            <img
              data-src="img/temp_control/temp_control-2.jpg"
              src="img/service/plug.jpg"
              class="slaider__img"
              alt="home temp control"
            />
          </div>
          <div class="img_holder">
            <img
              data-src="img/temp_control/temp_control-3.jpg"
              src="img/service/plug.jpg"
              class="slaider__img"
              alt="home temp control"
            />
          </div>
        </div>
      </div>
      <button class="slaider__btn_left">
        <i class="fas fa-angle-double-left"></i>
      </button>
      <button class="slaider__btn_right">
        <i class="fas fa-angle-double-right"></i>
      </button>
      <h2>home temp control</h2>
      <div class="popup__text">
        Temp Control is a fully functional smart home thermal management
        system currently installed and operating in my house. Using the
        ESP8266 NodeMCU V3 module, it ensures the temperature remains stable
        and within a predefined range. The system provides dual control
        options: a user-friendly web interface and a physical three-position
        button (open-auto-close). An OLED display offers real-time temperature
        monitoring, while sensors like DHT22 and DS1307 provide accurate data
        collection. Since its implementation, the system has significantly
        improved comfort by maintaining a consistent indoor temperature.
      </div>
      <a
        href="https://github.com/Doszhan-M/home_temp_control"
        class="popup__button"
        target="_blank"
        >view project</a
      >
      <a href="#main" class="popup__close"><i class="far fa-times-circle"></i></a>
    </div>
  </div>
</section>
