<section id="videohub" class="popup">
  <a href="#main" class="popup__dark-area_close" aria-label="close popup"></a>
  <div class="popup__body">
    <div class="popup__content">
      <div class="slaider">
        <div class="slaider__img-container">
          <div class="img_holder">
            <img
              data-src="img/videohub/videohub5-min.png"
              src="img/service/plug.jpg"
              class="slaider__img"
              alt="video hub"
            />
          </div>
          <div class="img_holder">
            <img
              data-src="img/videohub/videohub1-min.png"
              src="img/service/plug.jpg"
              class="slaider__img"
              alt="video hub"
            />
          </div>
          <div class="img_holder">
            <img
              data-src="img/videohub/videohub2-min.png"
              src="img/service/plug.jpg"
              class="slaider__img"
              alt="video hub"
            />
          </div>
          <div class="img_holder">
            <img
              data-src="img/videohub/videohub0-min.png"
              src="img/service/plug.jpg"
              class="slaider__img"
              alt="video hub"
            />
          </div>
          <div class="img_holder">
            <img
              data-src="img/videohub/videohub3-min.png"
              src="img/service/plug.jpg"
              class="slaider__img"
              alt="video hub"
            />
          </div>
          <div class="img_holder">
            <img
              data-src="img/videohub/videohub4-min.png"
              src="img/service/plug.jpg"
              class="slaider__img"
              alt="video hub"
            />
          </div>
          <div class="img_holder">
            <img
              data-src="img/videohub/videohub6-min.png"
              src="img/service/plug.jpg"
              class="slaider__img"
              alt="video hub"
            />
          </div>
          <div class="img_holder">
            <img
              data-src="img/videohub/videohub7-min.png"
              src="img/service/plug.jpg"
              class="slaider__img"
              alt="video hub"
            />
          </div>
        </div>
      </div>
      <button class="slaider__btn_left">
        <i class="fas fa-angle-double-left"></i>
      </button>
      <button class="slaider__btn_right">
        <i class="fas fa-angle-double-right"></i>
      </button>
      <h2>video hub</h2>
      <div class="popup__text">
        I developed VideoHub, a full-cycle video hosting platform, handling
        all aspects of its architecture and functionality. The platform
        includes a modular design with separate components for the frontend,
        backend, and WebSocket services. I implemented video uploading and
        real-time chat features, enabling seamless interaction for over 500
        simultaneous users. Utilizing Docker for containerization and Celery
        for background tasks, I ensured scalable and efficient operations. The
        platform achieved an 80% reduction in video processing time by
        integrating an optimized transcoding pipeline with FFMPEG.
      </div>
      <a
        href="https://github.com/Doszhan-M/video_hub"
        class="popup__button"
        target="_blank"
        >view project</a
      >
      <a href="#main" class="popup__close"><i class="far fa-times-circle"></i></a>
    </div>
  </div>
</section>
