<section id="weather_app" class="popup">
  <a href="#main" class="popup__dark-area_close" aria-label="close popup"></a>
  <div class="popup__body">
    <div class="popup__content">
      <div class="slaider">
        <div class="slaider__img-container">
          <div class="img_holder">
            <img
              data-src="img/weather_app/weather_app-1.png"
              src="img/service/plug.jpg"
              class="slaider__img"
              alt="weather_app"
            />
          </div>
          <div class="img_holder">
            <img
              data-src="img/weather_app/weather_app-2.png"
              src="img/service/plug.jpg"
              class="slaider__img"
              alt="weather_app"
            />
          </div>
          <div class="img_holder">
            <img
              data-src="img/weather_app/weather_app-3.png"
              src="img/service/plug.jpg"
              class="slaider__img"
              alt="weather_app"
            />
          </div>
        </div>
      </div>
      <button class="slaider__btn_left">
        <i class="fas fa-angle-double-left"></i>
      </button>
      <button class="slaider__btn_right">
        <i class="fas fa-angle-double-right"></i>
      </button>
      <h2>weather app</h2>
      <div class="popup__text">
        This weather forecasting application was developed to enhance my skills
        in React. It fetches real-time weather data and displays it in an
        intuitive and responsive interface. Key features include light and dark
        themes for an improved user experience, automatic location detection
        for local forecasts, and the ability to search for weather in specific
        cities. The project demonstrates proficiency in working with external
        APIs, handling user inputs, and implementing adaptive design
        principles.
      </div>
      <div class="popup__buttons">
        <a
          href="https://github.com/Doszhan-M/weather_app"
          class="popup__button"
          target="_blank"
          >view code</a
        >
        <a
          href="https://neon-weather.netlify.app/"
          class="popup__button"
          target="_blank"
          >visit site</a
        >
      </div>
      <a href="#main" class="popup__close"><i class="far fa-times-circle"></i></a>
    </div>
  </div>
</section>
