<section id="websocket_chat" class="popup">
  <a href="#main" class="popup__dark-area_close" aria-label="close popup"></a>
  <div class="popup__body">
    <div class="popup__content">
      <div class="slaider">
        <div class="slaider__img-container">
          <div class="img_holder">
            <img
              data-src="img/websocket/websocket_1.png"
              src="img/service/plug.jpg"
              class="slaider__img"
              alt="websocket"
            />
          </div>
          <div class="img_holder">
            <img
              data-src="img/websocket/websocket_2.png"
              src="img/service/plug.jpg"
              class="slaider__img"
              alt="websocket"
            />
          </div>
          <div class="img_holder">
            <img
              data-src="img/websocket/websocket_3.png"
              src="img/service/plug.jpg"
              class="slaider__img"
              alt="websocket"
            />
          </div>
          <div class="img_holder">
            <img
              data-src="img/websocket/websocket_4.png"
              src="img/service/plug.jpg"
              class="slaider__img"
              alt="websocket"
            />
          </div>
          <div class="img_holder">
            <img
              data-src="img/websocket/websocket_5.png"
              src="img/service/plug.jpg"
              class="slaider__img"
              alt="websocket"
            />
          </div>
        </div>
      </div>
      <button class="slaider__btn_left">
        <i class="fas fa-angle-double-left"></i>
      </button>
      <button class="slaider__btn_right">
        <i class="fas fa-angle-double-right"></i>
      </button>
      <h2>chat room</h2>
      <div class="popup__text">
        WebSocket Chat is a demo project created to showcase real-time
        communication features for a freelance client. The application
        includes public chat rooms, private messaging, and group chats, built
        with Django Channels and WebSocket technology. While the demo
        successfully demonstrated the core functionality, the client provided
        valuable feedback regarding user experience improvements and
        additional features for better scalability. This project helped refine
        my skills in real-time systems and taught me the importance of
        aligning technical solutions with client expectations.
      </div>
      <a
        href="https://github.com/Doszhan-M/websocket_chat"
        class="popup__button"
        target="_blank"
        >view code</a
      >
      <a href="#main" class="popup__close"><i class="far fa-times-circle"></i></a>
    </div>
  </div>
</section>
