<section id="about" class="about">
  <div class="section-title">
    <div class="section-title__title anim_item _animation">About me</div>
    <svg class="anim_item _animation" viewBox="0 0 100 5">
      <line x1="0" y1="0" x2="100" y2="0" stroke="black" stroke-width="2" />
    </svg>
  </div>
  <div class="about__content">
    <div class="assurances">
      <div class="assurances__item">
        <i class="fas fa-fighter-jet anim_item"></i>
        <h3>Fast</h3>
        <p>Fast load times and lag free interaction, my highest priority</p>
      </div>
      <div class="assurances__item">
        <i class="fas fa-dice-d20 anim_item"></i>
        <h3>Reliability</h3>
        <p>I pay special attention to the stability of the server side</p>
      </div>
      <div class="assurances__item">
        <i class="fas fa-cogs anim_item"></i>
        <h3>Dynamic</h3>
        <p>Websites don't have to be static, I love making pages come to life.</p>
      </div>
      <div class="assurances__item">
        <i class="far fa-handshake anim_item"></i>
        <h3>Support</h3>
        <p>I always try to build long-term relationships with clients</p>
      </div>
    </div>
    <div class="about_myself">
      <div class="about_myself__desc">
        <img src="img/myself/myself2.jpg" alt="myself" />
        <h3>WhoAmI?</h3>
        <p>
          Hi, I’m a web developer from Almaty. Whether you're looking to enhance
          an existing system or develop a brand-new project, I’m here to help
          bring your ideas to life. I focus on writing clean, efficient code and
          building scalable solutions. I enjoy working both independently and in
          teams to deliver great results.
        </p>
        <a href="#contact">Let's make something special!</a>
      </div>
      <div class="about_myself__slills">
        <div class="progress_bar">
          <div id="PYTHON" class="w3-container w3-teal" style="width: 90%">
            <span>PYTHON</span>
          </div>
          <div
            id="PYTHON_percent"
            class="w3-container"
            style="width: 10%"
          ></div>
          <p style="display: none">90</p>
        </div>

        <div class="progress_bar">
          <div id="DJANGO" class="w3-container w3-teal" style="width: 95%">
            <span>DJANGO</span>
          </div>
          <div id="DJANGO_percent" class="w3-container" style="width: 5%"></div>
          <p style="display: none">95</p>
        </div>

        <div class="progress_bar">
          <div id="FASTAPI" class="w3-container w3-teal" style="width: 92%">
            <span>FASTAPI</span>
          </div>
          <div
            id="FASTAPI_percent"
            class="w3-container"
            style="width: 8%"
          ></div>
          <p style="display: none">92</p>
        </div>

        <div class="progress_bar">
          <div id="HTML" class="w3-container w3-teal" style="width: 95%">
            <span>HTML CSS</span>
          </div>
          <div id="HTML_percent" class="w3-container" style="width: 5%"></div>
          <p style="display: none">95</p>
        </div>

        <div class="progress_bar">
          <div id="CSS" class="w3-container w3-teal" style="width: 20%">
            <span>DATABASES</span>
          </div>
          <div id="CSS_percent" class="w3-container" style="width: 17%"></div>
          <p style="display: none">80</p>
        </div>

        <div class="progress_bar">
          <div id="JavaScript" class="w3-container w3-teal" style="width: 80%">
            <span>JAVASCRIPT</span>
          </div>
          <div
            id="JavaScript_percent"
            class="w3-container"
            style="width: 20%"
          ></div>
          <p style="display: none">80</p>
        </div>

        <div class="progress_bar">
          <div id="REACT" class="w3-container w3-teal" style="width: 70%">
            <span>REACT</span>
          </div>
          <div id="REACT_percent" class="w3-container" style="width: 30%"></div>
          <p style="display: none">70</p>
        </div>

        <div class="progress_bar">
          <div id="GO" class="w3-container w3-teal" style="width: 60%">
            <span>GO</span>
          </div>
          <div id="GO_percent" class="w3-container" style="width: 40%"></div>
          <p style="display: none">60</p>
        </div>

        <div class="progress_bar">
          <div id="DOCKER" class="w3-container w3-teal" style="width: 85%">
            <span>DOCKER</span>
          </div>
          <div
            id="DOCKER_percent"
            class="w3-container"
            style="width: 15%"
          ></div>
          <p style="display: none">85</p>
        </div>

        <div class="progress_bar">
          <div id="DEVOPS" class="w3-container w3-teal" style="width: 60%">
            <span>DEVOPS</span>
          </div>
          <div
            id="DEVOPS_percent"
            class="w3-container"
            style="width: 40%"
          ></div>
          <p style="display: none">65</p>
        </div>
      </div>
    </div>
  </div>
</section>
