<section id="about" class="about">
  <div class="section-title">
    <div class="section-title__title anim_item _animation">About me</div>
    <svg class="anim_item _animation" viewBox="0 0 100 5">
      <line x1="0" y1="0" x2="100" y2="0" stroke="black" stroke-width="2" />
    </svg>
  </div>
  <div class="about__content">
    <div class="assurances">
      <div class="assurances__item">
        <i class="fas fa-fighter-jet anim_item"></i>
        <h3>Fast</h3>
        <p>Fast load times and lag free interaction, my highest priority</p>
      </div>
      <div class="assurances__item">
        <i class="fas fa-dice-d20 anim_item"></i>
        <h3>Reliability</h3>
        <p>I pay special attention to the stability of the server side</p>
      </div>
      <div class="assurances__item">
        <i class="fas fa-cogs anim_item"></i>
        <h3>Dynamic</h3>
        <p>Websites don't have to be static, I love making pages come to life.</p>
      </div>
      <div class="assurances__item">
        <i class="far fa-handshake anim_item"></i>
        <h3>Support</h3>
        <p>I always try to build long-term relationships with clients</p>
      </div>
    </div>
    <div class="about_myself">
      <div class="about_myself__desc">
        <img src="img/myself/myself2.jpg" alt="myself" />
        <h3>WhoAmI?</h3>
        <p>
          Hi, I’m a web developer from Almaty. Whether you're looking to enhance
          an existing system or develop a brand-new project, I’m here to help
          bring your ideas to life. I focus on writing clean, efficient code and
          building scalable solutions. I enjoy working both independently and in
          teams to deliver great results.
        </p>
        <a href="#contact">Let's make something special!</a>
      </div>
      <div class="about_myself__slills">
        <div class="progress_bar" data-progress="90">
          <div class="progress_bar__meta">
            <span class="progress_bar__label">Python</span>
          </div>
          <div class="progress_bar__track">
            <div id="PYTHON" class="progress_bar__fill"></div>
          </div>
        </div>

        <div class="progress_bar" data-progress="95">
          <div class="progress_bar__meta">
            <span class="progress_bar__label">Django</span>
          </div>
          <div class="progress_bar__track">
            <div id="DJANGO" class="progress_bar__fill"></div>
          </div>
        </div>

        <div class="progress_bar" data-progress="92">
          <div class="progress_bar__meta">
            <span class="progress_bar__label">FastAPI</span>
          </div>
          <div class="progress_bar__track">
            <div id="FASTAPI" class="progress_bar__fill"></div>
          </div>
        </div>

        <div class="progress_bar" data-progress="95">
          <div class="progress_bar__meta">
            <span class="progress_bar__label">HTML / CSS</span>
          </div>
          <div class="progress_bar__track">
            <div id="HTML" class="progress_bar__fill"></div>
          </div>
        </div>

        <div class="progress_bar" data-progress="80">
          <div class="progress_bar__meta">
            <span class="progress_bar__label">Databases</span>
          </div>
          <div class="progress_bar__track">
            <div id="CSS" class="progress_bar__fill"></div>
          </div>
        </div>

        <div class="progress_bar" data-progress="80">
          <div class="progress_bar__meta">
            <span class="progress_bar__label">JavaScript</span>
          </div>
          <div class="progress_bar__track">
            <div id="JavaScript" class="progress_bar__fill"></div>
          </div>
        </div>

        <div class="progress_bar" data-progress="70">
          <div class="progress_bar__meta">
            <span class="progress_bar__label">React</span>
          </div>
          <div class="progress_bar__track">
            <div id="REACT" class="progress_bar__fill"></div>
          </div>
        </div>

        <div class="progress_bar" data-progress="60">
          <div class="progress_bar__meta">
            <span class="progress_bar__label">Go</span>
          </div>
          <div class="progress_bar__track">
            <div id="GO" class="progress_bar__fill"></div>
          </div>
        </div>

        <div class="progress_bar" data-progress="85">
          <div class="progress_bar__meta">
            <span class="progress_bar__label">Docker</span>
          </div>
          <div class="progress_bar__track">
            <div id="DOCKER" class="progress_bar__fill"></div>
          </div>
        </div>

        <div class="progress_bar" data-progress="65">
          <div class="progress_bar__meta">
            <span class="progress_bar__label">DevOps</span>
          </div>
          <div class="progress_bar__track">
            <div id="DEVOPS" class="progress_bar__fill"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
