<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta property="og:type" content="website" />
<meta property="og:site_name" content="Doszhan" />
<meta property="og:title" content="Web Developer" />
<meta property="og:description" content="" />
<meta property="og:locale" content="en" />
<meta name="twitter:creator" content="" />
<meta name="twitter:card" content="summary_large_image" />
<meta property="og:url" content="https://doszhan-m.github.io/" />
<meta
  property="og:image"
  content="https://doszhan-m.github.io/img/service/meta_preview.jpg"
/>
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="630" />
<meta name="description" content="Doszhan portfolio fullstack developer" />

<!-- Yandex web master -->
<meta name="yandex-verification" content="0b0a15774b5e48ec" />

<meta
  name="viewport"
  content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
<link rel="shortcut icon" href="img/service/favicon.ico" type="image/x-icon" />
<link rel="manifest" href="manifest.json" />

<title>Doszhan</title>
