<header id="main" class="header">
  <div class="header__body">
    <nav class="header__nav">
      <ul class="header__titles">
        <li><a href="#preview" class="header__moblil_close">home</a></li>
        <li><a href="#about" class="header__moblil_close">about</a></li>
        <li><a href="#projects" class="header__moblil_close">projects</a></li>
        <li><a href="#contact" class="header__moblil_close">contact</a></li>
      </ul>
    </nav>
    <div class="header__burger"><span></span></div>
  </div>
</header>
