<section id="projects" class="projects">
  <div class="section-title">
    <div class="section-title__title anim_item _animation">projects</div>
    <svg class="anim_item _animation" viewBox="0 0 100 5">
      <line x1="0" y1="0" x2="100" y2="0" stroke="black" stroke-width="2" />
    </svg>
  </div>
  <div class="projects__content">
    <div class="projects__groupe big_anim_item _animation">
      <div class="projects__item">
        <img src="img/slackbot/slacbot.png" alt="slackbot" />
        <div class="projects__title projects__title_center">
          <h3>
            PARSER SLACKBOT
            <p>Python/Django</p>
          </h3>
          <a href="#slackbot">learn more</a>
        </div>
      </div>
      <div class="projects__item">
        <img src="img/websocket/websocket.png" alt="websocket" />
        <div class="projects__title projects__title_center">
          <h3>
            websocket chat
            <p>DRF/JavaScript/Ajax</p>
          </h3>
          <a href="#websocket_chat">learn more</a>
        </div>
      </div>
      <div class="projects__item">
        <img src="img/fanblog/fanblog.jpg" alt="fanblog" />
        <div class="projects__title projects__title_center">
          <h3>
            fan blog
            <p>Python/Django/BootStrap</p>
          </h3>
          <a href="#fanblog">learn more</a>
        </div>
      </div>
      <div class="projects__item">
        <img src="img/trashcan/trashcan.jpg" alt="trashcan" />
        <div class="projects__title projects__title_center">
          <h3>
            automatic trash bin
            <p>Arduino C</p>
          </h3>
          <a href="#trashcan">learn more</a>
        </div>
      </div>
      <div class="projects__item">
        <img src="img/reportbot/reportbot.jpg" alt="report bot" />
        <div class="projects__title projects__title_center">
          <h3>
            telegram report bot
            <p>Django/pyTelegramBotAPI</p>
          </h3>
          <a href="#reportbot">learn more</a>
        </div>
      </div>
      <div class="projects__item">
        <img src="img/seabattle/seabattle.jpg" alt="sea battle" />
        <div class="projects__title projects__title_center">
          <h3>
            sea battle
            <p>Python</p>
          </h3>
          <a href="#seabattle">learn more</a>
        </div>
      </div>
      <div class="projects__item">
        <img src="img/goszakup_bot/goszakup_bot.webp" alt="goszakup bot" />
        <div class="projects__title projects__title_center">
          <h3>
            goszakup bot
            <p>Python/Django/FastApi/GRPC</p>
          </h3>
          <a href="#goszakup_bot">learn more</a>
        </div>
      </div>
      <div class="projects__item">
        <img src="img/fresh_cargo/fresh_cargo.png" alt="fresh cargo" />
        <div class="projects__title projects__title_center">
          <h3>
            Fresh Cargo Peru
            <p>Python/Django/JS/Bootstrap</p>
          </h3>
          <a href="#fresh_cargo">learn more</a>
        </div>
      </div>
      <div class="projects__item">
        <img src="img/temp_control/temp_control.jpg" alt="fresh cargo" />
        <div class="projects__title projects__title_center">
          <h3>
            home temp control
            <p>Arduino C</p>
          </h3>
          <a href="#temp_control">learn more</a>
        </div>
      </div>
      <div class="projects__item">
        <img src="img/dogovor24/dogovor24.webp" alt="fresh cargo" />
        <div class="projects__title projects__title_center">
          <h3>
            parser for dogovor24
            <p>Python/Playwright</p>
          </h3>
          <a href="#dogovor24">learn more</a>
        </div>
      </div>
      <div class="projects__item">
        <img src="img/videohub/videohub8-min.png" alt="fresh cargo" />
        <div class="projects__title projects__title_center">
          <h3>
            video hub
            <p>Django/React/Websocket/Docker</p>
          </h3>
          <a href="#videohub">learn more</a>
        </div>
      </div>
      <div class="projects__item">
        <img src="img/weather_app/weather_app.png" alt="fresh cargo" />
        <div class="projects__title projects__title_center">
          <h3>
            weather app
            <p>React</p>
          </h3>
          <a href="#weather_app">learn more</a>
        </div>
      </div>
      <div class="projects__item">
        <img src="img/pk/pk.png" alt="fresh cargo" />
        <div class="projects__title projects__title_center">
          <h3>
            Counterparty Verification
            <p>DjangoES/Swarm/PG/Redis/RMQ/ES</p>
          </h3>
          <a href="#pk">learn more</a>
        </div>
      </div>
    </div>
  </div>
</section>
